<form method="get" action="/quizes/<%= quiz.id %>/answer">
	
	Pregunta: <%= quiz.pregunta %> (<%= quiz.tema %>)<p>
	<input type="text" name="respuesta" value="Respuesta" />
	<input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<% for (var i in quiz.comments) { %>
	<p>- <%= quiz.comments[i].texto %></p>
<% } %>